@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
   --clr-primary-1: #000000;
   --clr-primary-2: #303030;
   --clr-white: #fff;

   --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
   --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

   --ff-primary: "Roboto", sans-serif;
   --ff-secondary: "Open Sans", sans-serif;
}

*,
::after,
::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: var(--ff-secondary);
   background: var(--clr-white);
   color: var(--clr-grey-1);
   line-height: 1.5;
   font-size: 0.875rem;
   height: 100%;
   width: 100%;
}

ul {
   list-style-type: none;
}

a {
   text-decoration: none;
}

img:not(.logo) {
   width: 100%;
}

img {
   display: block;
}

h1,
h2,
h3,
h4 {
   letter-spacing: var(--spacing);
   text-transform: capitalize;
   line-height: 1.25;
   margin-bottom: 0.75rem;
   font-family: var(--ff-primary);
}

h1 {
   font-size: 3rem;
}

h2 {
   font-size: 2rem;
}

h3 {
   font-size: 1.25rem;
}

h4 {
   font-size: 0.875rem;
}

p {
   color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
   h1 {
      font-size: 4rem;
   }

   h2 {
      font-size: 2.5rem;
   }

   h3 {
      font-size: 1.75rem;
   }

   h4 {
      font-size: 1rem;
   }

   body {
      font-size: 1rem;
   }

   h1,
   h2,
   h3,
   h4 {
      line-height: 1;
   }
}

/*  global classes */

.btn {
   text-transform: uppercase;
   background: #000;
   color: var(--clr-white);
   padding: 1rem 1.5rem;
   letter-spacing: var(--spacing);
   display: inline-block;
   transition: var(--transition);
   font-size: 0.875rem;
   border: 2px solid var(--clr-black);
   cursor: pointer;
   box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
   border-radius: var(--radius);
   transition: .3s;
   -webkit-transition: .3s;
   -moz-transition: .3s;
   -ms-transition: .3s;
   -o-transition: .3s;
}

.btn:hover {
   color: var(--clr-white);
   background: #000;
   opacity: .7;
}

main {
   min-height: 100vh;
   display: grid;
   place-items: center;
}

/* section */
.section {
   padding: 5rem 5rem;
}

.section-center {
   width: 44vw;
   margin: 5rem auto;
   max-width: 1170px;
   background-color: #fff;
}

.hero-banner {
   background-image: url('./img/driver.webp');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 100vh;
   width: 100%;
}

.hero-banner-content {
   background-color: #fff;
   width: 50%;
}

.btn-container {
   display: flex;
   justify-content: space-between;
   padding: 0rem 5rem 0 5rem;
   border-bottom: 1px solid #ddd;
   gap: 2rem;
}

.tab-btn {
   padding: 40px 12px 22px 12px;
   width: 80px;
   background-color: #fff;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 13px;
   font-weight: 600;
}

.tab-content {
   padding: 4rem 3rem 3rem 3rem;
}

.tab-btn.active {
   border-bottom: 4px solid #000;
}

.content {
   display: none;
}

.content.active {
   display: block;
}

.content h1.title {
   font-size: 3.5rem;
   font-weight: 500;
   text-transform: initial;
   line-height: 4rem;
}

.sign-btn {
   font-weight: 600;
   font-size: 1rem;
   text-transform: initial;
}

.content .subtitle {
   font-size: 1rem;
   font-weight: 500;
   text-transform: initial;
   margin: 2rem 0px;
}

.content .link {
   color: #303030;
   text-transform: initial;
   margin-top: 2rem;
}

.content .link a {
   color: #303030;
}

@media screen and (max-width:768px) {
   .section {
      padding: 0rem 0rem;
   }

   .hero-banner-content {
      background-color: #fff;
      width: 100%;
   }

   .btn-container {
      display: flex;
      justify-content: space-between;
      padding: 0rem 1rem 0 1rem;
      border-bottom: 1px solid #ddd;
      gap: 1rem;
   }

   .tab-content {
      padding: 1rem;
   }

}